In [1]:
import yfinance as yf
import numpy as np
import pandas as pd

In [2]:
start = '2015-01-01'

In [5]:
overall = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[0]

In [7]:
overall

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Pharmaceuticals,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [8]:
stocks = overall.Symbol

In [9]:
stocks.head(5)

0     MMM
1     AOS
2     ABT
3    ABBV
4     ACN
Name: Symbol, dtype: object

In [10]:
stocks = stocks.to_list()

In [12]:
overall = overall[overall['Date added'] >= start]
# only those are relevant after the starting date of the analysis

In [13]:
overall

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
5,ATVI,Activision Blizzard,Communication Services,Interactive Home Entertainment,"Santa Monica, California",2015-08-31,718877,2008
9,AAP,Advance Auto Parts,Consumer Discretionary,Automotive Retail,"Raleigh, North Carolina",2015-07-09,1158449,1932
15,ALK,Alaska Air Group,Industrials,Passenger Airlines,"SeaTac, Washington",2016-05-13,766421,1985
16,ALB,Albemarle Corporation,Materials,Specialty Chemicals,"Charlotte, North Carolina",2016-07-01,915913,1994
...,...,...,...,...,...,...,...,...
478,WAB,Wabtec,Industrials,Construction Machinery & Heavy Transportation ...,"Pittsburgh, Pennsylvania",2019-02-27,943452,1999 (1869)
481,WBD,Warner Bros. Discovery,Communication Services,Broadcasting,"New York City, New York",2022-04-11,1437107,2022
487,WST,West Pharmaceutical Services,Health Care,Health Care Supplies,"Exton, Pennsylvania",2020-05-22,105770,1923
493,WTW,Willis Towers Watson,Financials,Insurance Brokers,"London, United Kingdom",2016-01-05,1140536,2016
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969

In [14]:
removed = pd.read_html('https://en.wikipedia.org/wiki/List_of_S%26P_500_companies')[1][['Date','Removed']]

In [15]:
removed

                  Date Removed
                  Date  Ticker                  Security
0          May 4, 2023     FRC       First Republic Bank
1       March 20, 2023    LUMN        Lumen Technologies
2       March 15, 2023    SBNY            Signature Bank
3       March 15, 2023    SIVB       SVB Financial Group
4      January 5, 2023     VNO      Vornado Realty Trust
..                 ...     ...                       ...
319       June 9, 1999     HPH  Harnischfeger Industries
320  December 11, 1998     LDW                     Amoco
321  December 11, 1998     GRN                General Re
322  December 11, 1998     SUN                SunAmerica
323      June 17, 1997     USL                    USLife

[324 rows x 3 columns]

In [16]:
removed = removed.set_index(removed.Date.Date)
removed

                                Date Removed
                                Date  Ticker                  Security
Date
May 4, 2023              May 4, 2023     FRC       First Republic Bank
March 20, 2023        March 20, 2023    LUMN        Lumen Technologies
March 15, 2023        March 15, 2023    SBNY            Signature Bank
March 15, 2023        March 15, 2023    SIVB       SVB Financial Group
January 5, 2023      January 5, 2023     VNO      Vornado Realty Trust
...                              ...     ...                       ...
June 9, 1999            June 9, 1999     HPH  Harnischfeger Industries
December 11, 1998  December 11, 1998     LDW                     Amoco
December 11, 1998  December 11, 1998     GRN                General Re
December 11, 1998  December 11, 1998     SUN                SunAmerica
June 17, 1997          June 17, 1997     USL                    USLife

[324 rows x 3 columns]

In [17]:
removed.index = pd.to_datetime(removed.index)
removed

                         Date Removed
                         Date  Ticker                  Security
Date
2023-05-04        May 4, 2023     FRC       First Republic Bank
2023-03-20     March 20, 2023    LUMN        Lumen Technologies
2023-03-15     March 15, 2023    SBNY            Signature Bank
2023-03-15     March 15, 2023    SIVB       SVB Financial Group
2023-01-05    January 5, 2023     VNO      Vornado Realty Trust
...                       ...     ...                       ...
1999-06-09       June 9, 1999     HPH  Harnischfeger Industries
1998-12-11  December 11, 1998     LDW                     Amoco
1998-12-11  December 11, 1998     GRN                General Re
1998-12-11  December 11, 1998     SUN                SunAmerica
1997-06-17      June 17, 1997     USL                    USLife

[324 rows x 3 columns]

In [18]:
removed = removed[removed.index >= start]
removed

                        Date Removed
                        Date  Ticker              Security
Date
2023-05-04       May 4, 2023     FRC   First Republic Bank
2023-03-20    March 20, 2023    LUMN    Lumen Technologies
2023-03-15    March 15, 2023    SBNY        Signature Bank
2023-03-15    March 15, 2023    SIVB   SVB Financial Group
2023-01-05   January 5, 2023     VNO  Vornado Realty Trust
...                      ...     ...                   ...
2015-03-23    March 23, 2015     AVP         Avon Products
2015-03-18    March 18, 2015     CFN            Carefusion
2015-03-12    March 12, 2015    PETM              PetSmart
2015-01-27  January 27, 2015     SWY               Safeway
2015-01-27  January 27, 2015     COV              Covidien

[196 rows x 3 columns]

In [19]:
removed = removed.Removed.dropna()
removed

           Ticker              Security
Date
2023-05-04    FRC   First Republic Bank
2023-03-20   LUMN    Lumen Technologies
2023-03-15   SBNY        Signature Bank
2023-03-15   SIVB   SVB Financial Group
2023-01-05    VNO  Vornado Realty Trust
...           ...                   ...
2015-03-23    AVP         Avon Products
2015-03-18    CFN            Carefusion
2015-03-12   PETM              PetSmart
2015-01-27    SWY               Safeway
2015-01-27    COV              Covidien

[185 rows x 2 columns]

In [22]:
stocks.extend(removed.Ticker.to_list())

In [23]:
df = yf.download(stocks, start=start)['Close']

[*********************100%***********************]  682 of 682 completed

79 Failed downloads:
- DNR: No timezone found, symbol may be delisted
- VIAB: No timezone found, symbol may be delisted
- FLIR: No timezone found, symbol may be delisted
- RAI: No data found for this date range, symbol may be delisted
- ARG: No data found for this date range, symbol may be delisted
- CFN: No data found for this date range, symbol may be delisted
- XEC: No timezone found, symbol may be delisted
- AVP: No timezone found, symbol may be delisted
- TE: No data found for this date range, symbol may be delisted
- VAR: No timezone found, symbol may be delisted
- YHOO: No data found for this date range, symbol may be delisted
- MJN: No data found for this date range, symbol may be delisted
- WIN: No timezone found, symbol may be delisted
- HSP: No data found for this date range, symbol may be delisted
- FBHS: No timezone found, symbol may be delisted
- TWTR: No timezone found, symbol may be delisted
- MON: No timezone found, symbol may be delisted
- LLTC: No data found for this date range, symbol may be delisted
- PBCT: No timezone found, symbol may be delisted
- CMCSK: No data found for this date range, symbol may be delisted
- CAM: No data found for this date range, symbol may be delisted
- SIAL: No data found for this date range, symbol may be delisted
- RTN: No timezone found, symbol may be delisted
- ALXN: No timezone found, symbol may be delisted
- NBL: No timezone found, symbol may be delisted
- WYN: No data found for this date range, symbol may be delisted
- AGN: No timezone found, symbol may be delisted
- HFC: No timezone found, symbol may be delisted
- RHT: No timezone found, symbol may be delisted
- GMCR: No data found for this date range, symbol may be delisted
- CXO: No timezone found, symbol may be delisted
- KSU: No timezone found, symbol may be delisted
- CELG: No timezone found, symbol may be delisted
- TYC: No data found for this date range, symbol may be delisted
- DWDP: No timezone found, symbol may be delisted
- FTR: No timezone found, symbol may be delisted
- INFO: No timezone found, symbol may be delisted
- GGP: No data found for this date range, symbol may be delisted
- STJ: No data found for this date range, symbol may be delisted
- KRFT: No data found for this date range, symbol may be delisted
- MXIM: No timezone found, symbol may be delisted
- SNDK: No data found for this date range, symbol may be delisted
- LM: No timezone found, symbol may be delisted
- XL: No timezone found, symbol may be delisted
- CVC: No data found for this date range, symbol may be delisted
- SIVB: No timezone found, symbol may be delisted
- HCBK: No data found for this date range, symbol may be delisted
- TIF: No timezone found, symbol may be delisted
- FDO: No data found for this date range, symbol may be delisted
- APC: No timezone found, symbol may be delisted
- JOY: No data found for this date range, symbol may be delisted
- DTV: No timezone found, symbol may be delisted
- TWC: No data found for this date range, symbol may be delisted
- LVLT: No data found for this date range, symbol may be delisted
- STI: No timezone found, symbol may be delisted
- BXLT: No data found for this date range, symbol may be delisted
- NLSN: No timezone found, symbol may be delisted
- BRK.B: No timezone found, symbol may be delisted
- DRE: No timezone found, symbol may be delisted
- SPLS: No data found for this date range, symbol may be delisted
- DPS: No data found for this date range, symbol may be delisted
- LLL: No timezone found, symbol may be delisted
- XLNX: No timezone found, symbol may be delisted
- CPGX: No data found for this date range, symbol may be delisted
- ETFC: No timezone found, symbol may be delisted
- CTXS: No timezone found, symbol may be delisted
- LO: No data found for this date range, symbol may be delisted
- WCG: No timezone found, symbol may be delisted
- TSS: No timezone found, symbol may be delisted
- ADS: No timezone found, symbol may be delisted
- BCR: No data found for this date range, symbol may be delisted
- CERN: No timezone found, symbol may be delisted
- ENDP: No timezone found, symbol may be delisted
- ESV: No timezone found, symbol may be delisted
- BRCM: No data found for this date range, symbol may be delisted
- WFM: No data found for this date range, symbol may be delisted
- QEP: No timezone found, symbol may be delisted
- BF.B: No data found for this date range, symbol may be delisted
- SWY: No data found for this date range, symbol may be delisted

In [24]:
df.index = pd.to_datetime(df.index)

In [25]:
removed[removed.Ticker == 'SBNY'].index[0]

Timestamp('2023-03-15 00:00:00')

In [26]:
df['SBNY']

Date
2015-01-02    125.250000
2015-01-05    121.809998
2015-01-06    120.360001
2015-01-07    120.970001
2015-01-08    124.080002
                 ...
2023-05-15      0.118000
2023-05-16      0.122000
2023-05-17      0.137000
2023-05-18      0.146000
2023-05-19      0.139900
Name: SBNY, Length: 2110, dtype: float64

In [27]:
df['SBNY'].index <= removed[removed.Ticker == 'SBNY'].index[0]
# filter for dates before the removal date

array([ True,  True,  True, ..., False, False, False])

In [28]:
df['SBNY'] = df['SBNY'][df['SBNY'].index <= removed[removed.Ticker == 'SBNY'].index[0]]

In [29]:
df['SBNY']

Date
2015-01-02    125.250000
2015-01-05    121.809998
2015-01-06    120.360001
2015-01-07    120.970001
2015-01-08    124.080002
                 ...
2023-05-15           NaN
2023-05-16           NaN
2023-05-17           NaN
2023-05-18           NaN
2023-05-19           NaN
Name: SBNY, Length: 2110, dtype: float64

In [30]:
def pricefilter_rem(ticker):
    df[ticker] = df[ticker][df[ticker].index <= removed[removed.Ticker == ticker].index[0]]

In [31]:
def pricefilter_add(ticker):
    df[ticker] = df[ticker][df[ticker].index >= overall[overall.Symbol == ticker]['Date added'].values[0]]

In [32]:
for ticker_rem in removed.Ticker:
    pricefilter_rem(ticker_rem)

for ticker_add in overall.Symbol:
    pricefilter_add(ticker_add)

In [33]:
removed

           Ticker              Security
Date
2023-05-04    FRC   First Republic Bank
2023-03-20   LUMN    Lumen Technologies
2023-03-15   SBNY        Signature Bank
2023-03-15   SIVB   SVB Financial Group
2023-01-05    VNO  Vornado Realty Trust
...           ...                   ...
2015-03-23    AVP         Avon Products
2015-03-18    CFN            Carefusion
2015-03-12   PETM              PetSmart
2015-01-27    SWY               Safeway
2015-01-27    COV              Covidien

[185 rows x 2 columns]

In [34]:
df[['LUMN', 'SBNY']].tail(50)

            LUMN  SBNY
Date
2023-03-10  2.68  70.0
2023-03-13  2.60  70.0
2023-03-14  2.60  70.0
2023-03-15  2.59  70.0
2023-03-16  2.49   NaN
2023-03-17  2.48   NaN
2023-03-20  2.49   NaN
2023-03-21   NaN   NaN
2023-03-22   NaN   NaN
2023-03-23   NaN   NaN
2023-03-24   NaN   NaN
2023-03-27   NaN   NaN
2023-03-28   NaN   NaN
2023-03-29   NaN   NaN
2023-03-30   NaN   NaN
2023-03-31   NaN   NaN
2023-04-03   NaN   NaN
2023-04-04   NaN   NaN
2023-04-05   NaN   NaN
2023-04-06   NaN   NaN
2023-04-10   NaN   NaN
2023-04-11   NaN   NaN
2023-04-12   NaN   NaN
2023-04-13   NaN   NaN
2023-04-14   NaN   NaN
2023-04-17   NaN   NaN
2023-04-18   NaN   NaN
2023-04-19   NaN   NaN
2023-04-20   NaN   NaN
2023-04-21   NaN   NaN
2023-04-24   NaN   NaN
2023-04-25   NaN   NaN
2023-04-26   NaN   NaN
2023-04-27   NaN   NaN
2023-04-28   NaN   NaN
2023-05-01   NaN   NaN
2023-05-02   NaN   NaN
2023-05-03   NaN   NaN
2023-05-04   NaN   NaN
2023-05-05   NaN   NaN
2023-05-08   NaN   NaN
2023-05-09   NaN   NaN
2023-05-10   NaN   NaN
2023-05-11   NaN   NaN
2023-05-12   NaN   NaN
2023-05-15   NaN   NaN
2023-05-16   NaN   NaN
2023-05-17   NaN   NaN
2023-05-18   NaN   NaN
2023-05-19   NaN   NaN